.both_sides {
  background-image: url("https://jam-cabin.github.io/assets/bg/david_stage_0740md.png");
  /*
 Have it swap png's based on screen sizes and whether or not a mobile.
 */
  background-size: cover;
}

.both_sides::after {
  content: "";
  background-color: #04909377;
  /* May be able to delete this section */
}

/*
.right_box {
 min-width: 500px;
 background-color: pink;
}

decided to go a different route. Remember to remove the div from the html too.
*/
.contact_right {
  color: #025e5f00;
  padding-right: 20px;
}

/*
.contact_left {
 width: 30vw;
}
*/
.contact_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6ecc646;
  padding: 10px;
  margin-left: 5vw;
  width: 30vw;
  height: 99vh;
  /* adjust to fit more list items. was 75vh, but made it 99 so the background wasn't cut off */
}

.contact_links {
  background-color: #f6ecc6bd;
  width: 30vw;
  padding: 5px;
  padding-left: 20px;
  width: 45vw;
  max-width: 200px;
}

.contact_bubble {
  background-color: #f6ecc6bd;
  margin: 10px;
  width: 45vw;
  max-width: 200px;
  border: #ff640c 1px solid;
  border-radius: 7px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_socials {
  padding-left: 10px;
  border-radius: 7px;
}

.contact-button {
  border: 1px solid #049093;
  background-color: #04909377;
  /* was $blueLightT50, but it is too  */
  padding-left: 13px;
  margin-bottom: 4px;
  border-radius: 5px;
}

.contact-button:hover {
  background-color: #fb965c;
}

.contact-button:hover i {
  color: #025e5f;
}

/*
.contact_link {
 color: $blue; //#025e5f    idk if this is used anywhere

 &:hover {
 color: #cc83b2;
 }
}

ul {

 i{
  color: $orange; /* erase if he wants it to match the words 
 }

 li {
  font-size: medium;   /* song names can be larger 
 }

 a {
  text-decoration: none;
  color: #ff640c;
  font-weight: 600;
  padding: 5px;

  &:hover {
   color: #ff640c;
  }
 }
}




*/
/*
Media queries to change background based on which bootstrap sizes the screen/viewport is. .Both_sides class is used to signify the big area of the screen excluding the sidebar in desktop mode, but is everything underneath the sidebar (header banner) of mobile sites.
*/
@media (max-width: 576px) {
  .both_sides {
    background-image: url("/assets/bg/david_stage_lines.png");
  }
  .far_right_side {
    color: #025e5f00;
    height: 1px;
    width: 1px;
  }
}

@media (min-width: 576px) {
  .both_sides {
    background-image: url("/assets/bg/david_stage_lines.png");
  }
  .far_right_side {
    color: #025e5f00;
    height: 1px;
    width: 1px;
  }
}

@media (min-width: 768px) {
  .both_sides {
    content: "";
    background-image: url("/assets/bg/david_stage_0740sm.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .far_right_side {
    color: #025e5f00;
    height: 1px;
    width: 1px;
  }
}

@media (min-width: 792px) {
  .both_sides {
    content: "";
    background-image: url("/assets/bg/david_stage_0740md.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .far_right_side {
    color: #025e5f00;
    height: auto;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .both_sides {
    background-image: none;
  }
  .far_right_side {
    content: "";
    background-image: url("/assets/bg/david_stage_0740md.png");
    background-color: #83cbcc89;
    background-size: contain;
    background-repeat: no-repeat;
    color: green;
    font-weight: bolder;
  }
}

@media (min-width: 1400px) {
  .both_sides {
    background-image: none;
  }
  .far_right_side {
    content: "";
    background-image: url("/assets/bg/david_stage_0740md.png");
    background-color: #f9b58e79;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -5px;
    color: #cc4e63;
    font-weight: bolder;
  }
}
/*# sourceMappingURL=contact.css.map */