$blue: #049093;
$blueT50: #04909377;
$blueLight: #83cbcc;
$blueLightT50: #83cbcc71;
$blueDark: #025e5f;
$orange: #ff640c;
$orangeLight: #fb965c;
$orangeLighter: #f9b58e;
$orangeDark: #b94909;
$yellow: #faf3a7;
$yellowLight: #f6ecc6;
$yellowLightT30: #f6ecc646;
$yellowLightT80: #f6ecc6bd;
$yellowDark: #ccbf90;
$fontWhite: white;

.both_sides{
 background-image: url("https://jam-cabin.github.io/assets/bg/david_stage_0740md.png");

 //in media queries, the background is overridden to adjust based on bootstrap's screen sizes.

 //"https://jam-cabin.github.io/assets/bg/david_stage_0740.png"
 /*
 Have it swap png's based on screen sizes and whether or not a mobile.
 */
 
 //"/assets/david_c_lines.png"
 // make image rectangular so it sits next to the contact_box info, not under it. Prob need a min-width and min-width with the value with like vw/vh.

 // background-image: url("/assets/temp/pokadots.png");
 background-size: cover;

 &::after {
  content: "";
  background-color: $blueT50;
  /* May be able to delete this section */
 }
}

/*
.right_box {
 min-width: 500px;
 background-color: pink;
}

decided to go a different route. Remember to remove the div from the html too.
*/

.contact_right {
 color: #025e5f00;
 padding-right: 20px; //cables on floor are being cut off, but the internet doesn't seem to really be functioning today. WAS 40, but 20 lets the cable grow until the largest image is too small.
}


/*
.contact_left {
 width: 30vw;
}
*/

.contact_box {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: $yellowLightT30 ;  //make translucent
 padding: 10px;
 margin-left: 5vw;
 width: 30vw;
 
 height: 99vh; /* adjust to fit more list items. was 75vh, but made it 99 so the background wasn't cut off */
}

.contact_links{
 background-color: $yellowLightT80;
 width: 30vw;
 padding: 5px;
 padding-left: 20px;

 width: 45vw;
 max-width: 200px;
}

.contact_bubble {
 background-color: $yellowLightT80;
 margin: 10px;
 width: 45vw;
 max-width: 200px;
 border: $orange 1px solid;
 border-radius: 7px;
 padding: 3px;

 display: flex;
 justify-content: center;
}

.contact_socials {
 padding-left: 10px;

 border-radius: 7px;
}


.contact-button {
 border: 1px solid $blue;
 background-color: $blueT50;  
 /* was $blueLightT50, but it is too  */
 padding-left: 13px;
 margin-bottom: 4px;
 border-radius: 5px;

 &:hover {
  background-color: $orangeLight;

  i {
   color: $blueDark;
  }
 }

 
}


/*
.contact_link {
 color: $blue; //#025e5f    idk if this is used anywhere

 &:hover {
 color: #cc83b2;
 }
}

ul {

 i{
  color: $orange; /* erase if he wants it to match the words 
 }

 li {
  font-size: medium;   /* song names can be larger 
 }

 a {
  text-decoration: none;
  color: #ff640c;
  font-weight: 600;
  padding: 5px;

  &:hover {
   color: #ff640c;
  }
 }
}




*/

/*
Media queries to change background based on which bootstrap sizes the screen/viewport is. .Both_sides class is used to signify the big area of the screen excluding the sidebar in desktop mode, but is everything underneath the sidebar (header banner) of mobile sites.
*/


@media (max-width:576px) { //xsm, xsmall screen
 .both_sides{
  background-image: url("/assets/bg/david_stage_lines.png");
  //make image
}
.far_right_side {
 color: #025e5f00;
 height: 1px; width: 1px;
}}

@media (min-width:576px) { //sm, small screen
 .both_sides{
  background-image: url("/assets/bg/david_stage_lines.png");
  //make image
}
.far_right_side {
 color: #025e5f00;
 height: 1px; width: 1px;
}}

@media (min-width:768px) { //md, medium screen
 .both_sides{
  content: "";
  background-image: url("/assets/bg/david_stage_0740sm.png");
  background-size: contain;
  background-repeat: no-repeat;
 }

 .far_right_side {
  color: #025e5f00;
  height: 1px; width: 1px;
 }
}

@media (min-width:992px) { //lg, large screen
 .both_sides{
  content: "";
  background-image: url("/assets/bg/david_stage_0740md.png");
  background-size: contain;
  background-repeat: no-repeat;
 }

 .far_right_side {
  color: #025e5f00;
  height: auto; width: auto;
  z-index: -5;
 }
}

@media (min-width:1200px) { //xlg, xlarge screen
 .both_sides{
  background-image: none;
  //make image ?
}

 .far_right_side {
  content: "";
  background-image: url("/assets/bg/david_stage_0740md.png");
  background-color: #83cbcc89;
  background-size: contain;
  background-repeat: no-repeat;
  color: green;
  font-weight: bolder;
  z-index: -5;
 }}

@media (min-width:1400px) { //xxlg, xxlarge screen
 .both_sides{
  background-image: none;
  //make image ?
}

 .far_right_side {
  content: "";
  background-image: url("/assets/bg/david_stage_0740md.png");
  background-color: #f9b58e79;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -5px;
  color: rgb(204, 78, 99);
  font-weight: bolder;
 }

}