$blue: #049093;
$blueT50: #04909377;
$blueLight: #83cbcc;
$blueLightT50: #83cbcc71;
$blueDark: #025e5f;
$orange: #ff640c;
$orangeLight: #fb965c;
$orangeLighter: #f9b58e;
$orangeDark: #b94909;
$yellow: #faf3a7;
$yellowLight: #f6ecc6;
$yellowLightT30: #f6ecc646;
$yellowLightT80: #f6ecc6bd;
$yellowDark: #ccbf90;
$fontWhite: white;



/*
You still need to:
- fix the footer to be not covered by .mama-stripe-middle 's background ... maybe?
*/


html {
 max-height: 100vh;
 max-width: 100vw;
 
}

main {
 z-index: 1;
 max-height: 100vh;
 height: 92vh;
 max-width: 100vw;

  background-image: url("../../assets/bg/mobile/oranges_stripes.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;
  
  background-color: $orangeLighter;
  
 }
/*
 main::before {
  content: "";
 background-image: url("../../assets/bg/david_pokadots_62.png");
 background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  width: 101vw;
  height: 101vh;
  background-color: pink;

 }
 */
 

 .mama-stripe-middle {
  background-image: url("../../assets/bg/mobile/oranges_2.png");
  background-size: 350px; // was 100vw then 550, but that was just insane. It was just David's Homer face .I think i should move this to the media queries. Tomorrow morning Theresa, what do you think?
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
 }

 .no-hover {
  width: auto;
  max-width: 900px;

  @media (max-width:75px) {
   background-color: red;
  }
 }

 .stripe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 92vh;

  /*
  padding-bottom: 14vh;
  min-width: 76px;
  width: 76px;
  max-width: 76px;
  */



  &:hover {
   background-color: $blueT50;
   i{
    font-weight: 600;
    font-size: xx-large;
   }
  }
 }



 @media (max-width:576px) { //xsm, xsmall screen
  .stripe {
   padding-bottom: 18vh;
   min-width: 72px;
   width: 72px;
   max-width: 72px;
  }}
 
 @media (min-width:576px) { //sm, small screen
  .stripe {
   //good
   padding-bottom: 16vh;
   min-width: 73px;
   width: 73px;
   max-width: 73px;
  }}
 
 @media (min-width:768px) { //md, medium screen
  .stripe{
   //good
   padding-bottom: 17vh;
   min-width: 96px;
   width: 96px;
   max-width: 96px;
  }}
 
 @media (min-width:992px) { //lg, large screen
  .stripe{
   //good
   padding-bottom: 16vh;
   min-width: 103px;
   width: 103px;
   max-width: 103px;
  }}
 
 @media (min-width:1200px) { //xlg, xlarge screen
  .stripe{
   padding-bottom: 16vh;
   min-width: 105px;
   width: 105px;
   max-width: 105px;
  }}
 
 @media (min-width:1400px) { //xxlg, xxlarge screen
  .stripe{
   padding-bottom: 16vh;
   min-width: 105px;
   width: 105px;
   max-width: 105px;
  }}